<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="/static/style.css">
	<script>
	</script>
</head>
<body>
	<h1>WELCOME TO GOODNESS CBT 1.0</h1>

	<h1>LOGIN</h1>
	<form method="post">
		<br><br><br>
		<label for="username">USERNAME</label><br><br>
		<input type="text" placeholder="Enter your name" name="username" id="username" required><br><br><br>
		<label for="password">PASSWORD</label><br><br>
		<input type="password" placeholder="Enter your password" name="password" id="password" visibility="True" required><br><br><br>
		<input type="submit" value="Log in" id="submit">

		<br><br>
		<a href={{ url_for("auth_bp.register") }}>DO NOT HAVE QN ACCOUNT? SIGN UP<a>
</body>
</html>
